## [Study Title ******]

In [2]:
import numpy as np
import pandas as pd
import os
import urllib
%matplotlib inline

In [3]:
df= pd.read_csv('data/global_health_outcomes.csv')

In [4]:
df

,Country,Infants exclusively breastfed (% ages 0�5 months) 2008�2013,Infants lacking immunization (% of one-year-olds) DTP 2013,Infants lacking immunization (% of one-year-olds) Measles 2013,"Mortality rates (per 1,000 live births) Infant 2013","Mortality rates (per 1,000 live births) Under-five 2013",Child malnutrition (% under age 5) Stunting (moderate or severe) 2008�2013,"Adult mortality rate (per 1,000 people) Female 2013","Adult mortality rate (per 1,000 people) Male 2013","Deaths due to Malaria (per 100,000 people) 2012","Deaths due to Tuberculosis (per 100,000 people) 2012","HIV prevalence, adult (% ages 15�49) 2013",Life expectancy at age 60 (years) 2010/2015,"Physicians (per 10,000 people) 2001�2013",Public health expenditure (% of GDP) 2013
0,Norway,NaN,1.0,7.0,2.3,2.8,NaN,47.0,73.0,NaN,0.1,NaN,24.0,37.4,9.6
1,Netherlands,NaN,1.0,4.0,3.3,4.0,NaN,54.0,69.0,NaN,0.2,NaN,23.5,31.5,12.9
2,Sweden,NaN,1.0,3.0,2.4,3.0,NaN,43.0,69.0,NaN,0.1,NaN,24.1,32.7,9.7
3,Korea (Republic of),NaN,1.0,1.0,3.2,3.7,2.5,38.0,93.0,0.0,5.4,NaN,24.0,21.4,7.2
4,Luxembourg,NaN,1.0,5.0,1.6,2.0,NaN,50.0,79.0,NaN,0.4,NaN,23.4,28.2,7.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,Chad,3.4,45.0,41.0,88.5,147.5,38.7,377.0,410.0,152.6,18.0,2.5,15.6,0.4,3.6
206,Somalia,9.1,48.0,54.0,89.8,145.6,42.1,289.0,339.0,33.5,64.0,0.5,16.1,0.4,NaN
207,Central African Republic,34.3,65.0,75.0,96.1,139.2,40.7,412.0,433.0,114.9,50.0,3.8,15.9,0.5,3.9
208,"Hong Kong, China (SAR)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.6,NaN,25.4,NaN,NaN
209,Liechtenstein,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### References

Original CSV file: https://data.world/hdro/d41b5824-e40e-4fd6-9c8f-900eb2616f3c/workspace/project-summary?agentid=hdro&datasetid=d41b5824-e40e-4fd6-9c8f-900eb2616f3c

GDP & Life Expectancy: <br>
https://databank.worldbank.org/home.aspx <br>
https://databank.worldbank.org/databases/health <br>
Health Outcomes



Methodology - Other

Source: https://data.humdata.org/dataset/health-outcomes
Last updated at https://data.humdata.org/organization/undp-human-development-reports-office : 2021-09-23

License -
Creative Commons Attribution for Intergovernmental Organisations